In [1]:
import pandas as pd

In [10]:
file = "Resources/03-Python_Homework_Instructions_PyPoll_Resources_election_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [11]:
file_df.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [14]:
# The total number of votes cast

In [18]:
# A complete list of candidates who received votes
    #Khan: 63.000% (2218231)
    #Correy: 20.000% (704200)
    #Li: 14.000% (492940)
    #O'Tooley: 3.000% (105630)
candidate_df = file_df.set_index('Candidate')
candidate_df

           Voter ID County
Candidate
Khan       12864552  Marsh
Correy     17444633  Marsh
Khan       19330107  Marsh
Khan       19865775  Queen
Khan       11927875  Marsh
...             ...    ...
Khan       18050509  Marsh
Khan       13060332  Marsh
Khan       16754708  Queen
Khan       12083146  Queen
O'Tooley   14526187  Queen

[3521001 rows x 2 columns]

In [ ]:
candList_df = candidate_df.loc[candidate_df["Candidate"] != "Billy", :]]

In [16]:
# The percentage of votes each candidate won

In [17]:
# The total number of votes each candidate won

In [ ]:
#The winner of the election based on popular vote.  
  #Winner: Khan